
.Tetris-stage {
  border: 2px solid blue;
  background-color: #282c34;
  position: relative;
  margin :auto;
  /*min-height: 75vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*width: 50vw;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}
